<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Biblioteca Aleatoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <section class="flex flex-col items-center justify-center">
    <ion-label>Se generan 10 libros aleatorios</ion-label>
    <div class="flex gap-x-2">
      <ion-button (click)="saveBooks(books)" color="danger font-bold"
        >Guardar libros</ion-button
      >
      <ion-button (click)="getNewBooks()" color="warning font-bold"
        >Recargar libros</ion-button
      >
    </div>
  </section>

  <ion-alert
    [isOpen]="openAlert"
    header="Información"
    [message]="message"
    [buttons]="['OK']"
    (didDismiss)="openAlert = false"
  ></ion-alert>

  <div class="grid place-items-center min-h-screen">
    <ion-spinner *ngIf="loading; else setBooks" name="circular"></ion-spinner>
    <ng-template #setBooks>
      <section class="grid grid-cols-2" *ngIf="!loading">
        <ion-card *ngFor="let book of books; let i = index" class="rounded-xl">
          <img
            [alt]="book.title"
            [src]="images[i]"
            class="w-full h-56 object-cover bg-white"
          />
          <ion-card-header>
            <ion-card-title class="text-xl font-bold"> {{ book.title }} </ion-card-title>
            <ion-card-subtitle>Autores: {{ book.authors }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="mx-auto">
            <ion-button color="danger" (onclick)="saveBooks([book])"> Guardar libro </ion-button>
          </ion-card-content>
        </ion-card>
      </section>
    </ng-template>
  </div>
</ion-content>
